[submodule "mslearn-create-razor-pages-aspnet-core"]
	path = mslearn-create-razor-pages-aspnet-core
	url = https://github.com/Carlosmcms/mslearn-create-razor-pages-aspnet-core.git
[submodule "mslearn-dotnet-files"]
	path = mslearn-dotnet-files
	url = https://github.com/Carlosmcms/mslearn-dotnet-files.git
[submodule "BlazzingPizza"]
	path = BlazzingPizza
	url = https://github.com/Carlosmcms/mslearn-interact-with-data-blazor-web-apps.git
[submodule "RoutingInBlazor"]
	path = RoutingInBlazor
	url = https://github.com/Carlosmcms/mslearn-blazor-navigation.git
